
h1{
    align-items: center; 
    font-family: 'Playfair Display', serif;
 }

 h2{
    max-width: 300px;  
    margin-left: 40%;
    margin-top: 50px;  
    font-family: 'Playfair Display', serif;
}
p{
    max-width: 800px;
    margin-left: 20%;
    font-size: 18px;
   
} 

span{
    color: red;
}
li{
    list-style-type: none;
    padding: 0px;
    
    
}
nav{
     color: blue;
     margin-left: 10%;
     font-family: 'Playfair Display', serif;
     margin-top: 50px;
     padding: 0px;

}
ul{
    display: flex;
   text-align: center;
}
 nav:hover{
 border-bottom: solid 3px burlywood;
 }